<!DOCTYPE html>
<html>

<head>
    <title>Text Sentiment Identifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#submitBtn").click(function () {
                var input_text = $("#input_text").val();
                $.ajax({
                    type: "POST",
                    url: "/predict",
                    data: { text: input_text },
                    success: function (response) {
                        // Update the table
                        var table = $("#resultsTable");
                        var row = "<tr><td>" + input_text + "</td><td>" + response.sentiment + "</td></tr>";
                        table.append(row);

                        // Empty the input field
                        $("#input_text").val('');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <h1>Text Sentiment Identifier</h1>
        <p class="intro-text">Welcome to this Text Sentiment Identifier developed by Rudrransh Saxena.</p>
        <p>The model that I developed was trained on this <a class="dataset-link"
                href="https://www.kaggle.com/datasets/kazanova/sentiment140">dataset</a>.</p>
        <input class="input-field" type="text" id="input_text" name="input_text" placeholder="Enter a text (maximum 20 words)" required>
        <button class="submit-button" id="submitBtn" type="submit">Submit</button>
        <div class="table-container">
            <table id="resultsTable">
                <tr>
                    <th>Input Text</th>
                    <th>Sentiment</th>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>