<!DOCTYPE html>
<html>
<head>
    <title>Text Sentiment Identifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Text Sentiment Identifier</h1>
        <p class="intro-text">Welcome to this Text Sentiment Identifier developed by Rudrransh Saxena.</p>
        <p>The model that I developed was trained on this <a class="dataset-link" href="https://www.kaggle.com/datasets/kazanova/sentiment140">dataset</a>.</p>
        <form class="input-form" action="/predict" method="POST">
            <input class="input-field" type="text" name="input_text" placeholder="Enter a text (maximum 50 words)" required>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>



<!-- <!DOCTYPE html>
<html>

<head>
    <title>Text Sentiment Identifier</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#submitBtn").click(function () {
                var input_text = $("#input_text").val();
                $.ajax({
                    type: "POST",
                    url: "/predict",
                    data: { text: input_text },
                    success: function (response) {
                        $("#result").text(response.sentiment);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <h1>Text Sentiment Identifier</h1>
        <p class="intro-text">Welcome to this Text Sentiment Identifier developed by Rudrransh Saxena.</p>
        <p>The model that I developed was trained on this <a class="dataset-link"
                href="https://www.kaggle.com/datasets/kazanova/sentiment140">dataset</a>.</p>
        <form class="input-form">
            <input class="input-field" type="text" id="input_text" name="input_text" placeholder="Enter a text (maximum 50 words)" required>
            <button class="submit-button" id="submitBtn" type="submit">Submit</button>
        </form>
        <p>Sentiment: <span id="result"></span></p>
    </div>
    <h1>Text Sentiment Identifier</h1>
    <p>Welcome to this Text Sentiment Identifier developed by Rudrransh Saxena.</p>
    <p>The model that I developed was trained on this dataset: <a
            href="https://www.kaggle.com/datasets/kazanova/sentiment140">dataset</a></p>
    <p>Enter a sentence:</p>
    <input type="text" id="input_text" maxlength="50">
    <button id="submitBtn">Submit</button>
    <p>Sentiment: <span id="result"></span></p> 
</body>

</html> -->